<a href="https://colab.research.google.com/github/ucfilho/Raianars_paper_one_revisited/blob/main/Case_Study/Relevant_Job__Title_Pictures_v05_KMeans_new_feat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Describe...

----------
Author: Raiana Roland Seixas
09/07/2022

# Data load & Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.cluster import KMeans

In [3]:
!git clone https://github.com/RaianaSeixas/NLT
%cd NLT

fatal: destination path 'NLT' already exists and is not an empty directory.
/content/NLT

In [4]:
df=pd.read_csv('occupation_pictures.csv')
df

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Picture URL,Manual Label
0,3D Modeler,Our Top 19 3D Modeling Software Picks ...,1261,0,0,7,276.763672,1917,2301,4411017,2,https://format-magazine-production-res.cloudin...,NaN
1,3D Modeler,7 Tips for Beginner 3D Modelers ...,1261,1,0,3,44.343750,340,747,253980,5,http://static1.squarespace.com/static/5320f582...,NaN
2,3D Modeler,How to Become an Expert 3D Modeler ...,1261,2,0,2,43.088867,380,660,250800,8,https://www.gamedesigning.org/wp-content/uploa...,NaN
3,3D Modeler,What is 3D Modeling & What's It Used For?,1261,3,0,2,78.623047,330,750,247500,1,https://cdn.conceptartempire.com/images/04/522...,NaN
4,3D Modeler,Shoofping 3D Modeler ...,1261,4,0,1,97.517578,1075,1909,2052175,3,http://shoofping.com/wp-content/uploads/2017/1...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,Wind Turbine Engineer,Wind turbine technician fastest-growing ...,61,4,0,0,89.249023,720,1280,921600,0,https://i.ytimg.com/vi/lUf2mOYp1d4/maxresdefau...,good
654,Wind Turbine Engineer,How to Become a Wind Energy Engineer ...,61,5,0,0,37.949219,200,300,60000,0,https://www.environmentalscience.org/wp-conten...,NaN
655,Wind Turbine Engineer,Wind - Get Into Energy,61,6,0,1,324.730469,500,750,375000,1,http://getintoenergy.com/wp-content/uploads/20...,good
656,Wind Turbine Engineer,Wind-energy programs yield engineering ...,61,7,0,1,36.197266,920,613,563960,0,https://s.hdnux.com/photos/20/15/22/4248747/3/...,good
657,Wind Turbine Engineer,Career Map: Wind Technician ...,61,8,0,2,167.145508,379,525,198975,0,https://www.energy.gov/sites/prod/files/styles...,good

In [5]:
data=df.drop(columns=['Picture URL'])

In [6]:
data['Manual Label'].describe()

count      133
unique       2
top       good
freq        91
Name: Manual Label, dtype: object

In [7]:
data['Pic Title'].describe()

count                            658
unique                           593
top       Bureau of Labor Statistics
freq                              17
Name: Pic Title, dtype: object

# Exploratory Analysis

# Data Preprocessing

In [8]:
import nltk
ps = nltk.PorterStemmer()
wn=nltk.WordNetLemmatizer()
nltk.download("popular")
stopwords = nltk.corpus.stopwords.words('english')
import re
import string

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

### Clean up text

In [9]:
def clean_text(text):
    text = "".join([word for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text

data['Job Title'] = data['Job Title'].apply(lambda x: clean_text(x.lower()))
data['Pic Title'] = data['Pic Title'].apply(lambda x: clean_text(x.lower()))
data.head()

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Manual Label
0,"[3d, modeler]","[top, 19, 3d, modeling, software, picks, ]",1261,0,0,7,276.763672,1917,2301,4411017,2,NaN
1,"[3d, modeler]","[7, tips, beginner, 3d, modelers, ]",1261,1,0,3,44.343750,340,747,253980,5,NaN
2,"[3d, modeler]","[become, expert, 3d, modeler, ]",1261,2,0,2,43.088867,380,660,250800,8,NaN
3,"[3d, modeler]","[3d, modeling, whats, used]",1261,3,0,2,78.623047,330,750,247500,1,NaN
4,"[3d, modeler]","[shoofping, 3d, modeler, ]",1261,4,0,1,97.517578,1075,1909,2052175,3,NaN

In [10]:
data.columns

Index(['Job Title', 'Pic Title', 'Num Resumes', 'Google Position',
       'Strict Face Count', 'Relaxed Face Count', 'KB size', 'Height', 'Width',
       'Resolution', 'Text Regions', 'Manual Label'],
      dtype='object')

### Stem / Lemmatize text

In [11]:
def stemming(text):
  stemmed=[ps.stem(word) for word in text]
  return stemmed

data['Stem Job Title'] = data['Job Title'].apply(lambda x: stemming(x))
data['Stem Pic Title'] = data['Pic Title'].apply(lambda x: stemming(x))
data

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Manual Label,Stem Job Title,Stem Pic Title
0,"[3d, modeler]","[top, 19, 3d, modeling, software, picks, ]",1261,0,0,7,276.763672,1917,2301,4411017,2,NaN,"[3d, model]","[top, 19, 3d, model, softwar, pick, ]"
1,"[3d, modeler]","[7, tips, beginner, 3d, modelers, ]",1261,1,0,3,44.343750,340,747,253980,5,NaN,"[3d, model]","[7, tip, beginn, 3d, model, ]"
2,"[3d, modeler]","[become, expert, 3d, modeler, ]",1261,2,0,2,43.088867,380,660,250800,8,NaN,"[3d, model]","[becom, expert, 3d, model, ]"
3,"[3d, modeler]","[3d, modeling, whats, used]",1261,3,0,2,78.623047,330,750,247500,1,NaN,"[3d, model]","[3d, model, what, use]"
4,"[3d, modeler]","[shoofping, 3d, modeler, ]",1261,4,0,1,97.517578,1075,1909,2052175,3,NaN,"[3d, model]","[shoofp, 3d, model, ]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,"[wind, turbine, engineer]","[wind, turbine, technician, fastestgrowing, ]",61,4,0,0,89.249023,720,1280,921600,0,good,"[wind, turbin, engin]","[wind, turbin, technician, fastestgrow, ]"
654,"[wind, turbine, engineer]","[become, wind, energy, engineer, ]",61,5,0,0,37.949219,200,300,60000,0,NaN,"[wind, turbin, engin]","[becom, wind, energi, engin, ]"
655,"[wind, turbine, engineer]","[wind, get, energy]",61,6,0,1,324.730469,500,750,375000,1,good,"[wind, turbin, engin]","[wind, get, energi]"
656,"[wind, turbine, engineer]","[windenergy, programs, yield, engineering, ]",61,7,0,1,36.197266,920,613,563960,0,good,"[wind, turbin, engin]","[windenergi, program, yield, engin, ]"
657,"[wind, turbine, engineer]","[career, map, wind, technician, ]",61,8,0,2,167.145508,379,525,198975,0,good,"[wind, turbin, engin]","[career, map, wind, technician, ]"

In [12]:
data[data['Manual Label']=='bad']

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Manual Label,Stem Job Title,Stem Pic Title
29,[assistant],"[google, assistant, 20, change, ]",347272,2,0,0,56.383789,640,1280,819200,1,bad,[assist],"[googl, assist, 20, chang, ]"
40,"[assistant, curator]","[yale, university, art, gallery, appoints, ]",868,1,1,1,57.474609,576,864,497664,0,bad,"[assist, curat]","[yale, univers, art, galleri, appoint, ]"
48,"[assistant, designer]","[assistant, costume, designer, get, media]",5358,1,1,1,19.559570,210,280,58800,0,bad,"[assist, design]","[assist, costum, design, get, media]"
50,"[assistant, designer]","[assistant, designer]",5358,3,0,3,104.434570,479,638,305602,4,bad,"[assist, design]","[assist, design]"
56,"[benefits, consultant]","[benefits, consultant, ]",3890,0,0,1,52.086914,480,720,345600,0,bad,"[benefit, consult]","[benefit, consult, ]"
57,"[benefits, consultant]","[benefits, consultant, ]",3890,1,0,1,20.233398,200,300,60000,0,bad,"[benefit, consult]","[benefit, consult, ]"
58,"[benefits, consultant]","[surprising, ways, benefits, consultant, ]",3890,3,0,1,18.697266,200,300,60000,0,bad,"[benefit, consult]","[surpris, way, benefit, consult, ]"
59,"[benefits, consultant]","[benefits, consultant, ]",3890,4,0,0,28.780273,720,1280,921600,0,bad,"[benefit, consult]","[benefit, consult, ]"
60,"[benefits, consultant]","[benefits, consultant, ]",3890,5,0,1,14.895508,273,375,102375,0,bad,"[benefit, consult]","[benefit, consult, ]"
62,"[benefits, consultant]","[ask, employee, benefits, consultant, ]",3890,7,0,0,61.863281,398,602,239596,0,bad,"[benefit, consult]","[ask, employe, benefit, consult, ]"
116,"[commercial, pilot]","[commercial, airline, pilot, jobs, ]",369,7,0,2,11.047852,250,240,60000,0,bad,"[commerci, pilot]","[commerci, airlin, pilot, job, ]"
148,"[control, accountant]","[establishing, accounting, internal, ]",1598,5,0,1,84.567383,765,1170,895050,2,bad,"[control, account]","[establish, account, intern, ]"
178,"[design, release, engineer]","[alex, archer, design, release, engineer, ]",940,6,1,4,98.495117,720,1280,921600,0,bad,"[design, releas, engin]","[alex, archer, design, releas, engin, ]"
181,"[digital, director]","[first, look, manfrotto, digital, director, ]",1153,0,0,4,105.661133,720,1280,921600,1,bad,"[digit, director]","[first, look, manfrotto, digit, director, ]"
183,"[digital, director]","[manfrotto, digital, director, depth, ]",1153,2,0,2,64.520508,720,1280,921600,2,bad,"[digit, director]","[manfrotto, digit, director, depth, ]"
185,"[digital, director]","[manfrotto, digital, director, accessories, ]",1153,5,0,1,93.611328,690,840,579600,2,bad,"[digit, director]","[manfrotto, digit, director, accessori, ]"
186,"[digital, director]","[manfrotto, digital, director, accessories, ]",1153,6,0,0,49.801758,376,635,238760,1,bad,"[digit, director]","[manfrotto, digit, director, accessori, ]"
187,"[digital, director]","[manfrotto, digital, director, ipad, air, ]",1153,7,0,0,35.722656,646,970,626620,1,bad,"[digit, director]","[manfrotto, digit, director, ipad, air, ]"
192,"[director, global, business, development]","[director, global, business, ]",852,0,1,1,132.573242,330,620,204600,0,bad,"[director, global, busi, develop]","[director, global, busi, ]"
193,"[director, global, business, development]","[dr, shrivastava, appointed, ]",852,1,0,2,111.434570,364,678,246792,1,bad,"[director, global, busi, develop]","[dr, shrivastava, appoint, ]"
194,"[director, global, business, development]","[welcome, global, business, development, ]",852,2,0,2,1099.172852,3600,2400,8640000,0,bad,"[director, global, busi, develop]","[welcom, global, busi, develop, ]"
196,"[director, global, business, development]","[lara, baker, director, business, ]",852,5,1,18,6650.175781,4449,3438,15295662,0,bad,"[director, global, busi, develop]","[lara, baker, director, busi, ]"
197,"[director, global, business, development]","[hrvoje, crnecki, crp, joins, trc, global, ]",852,6,0,1,31.983398,364,329,119756,0,bad,"[director, global, busi, develop]","[hrvoje, crnecki, crp, join, trc, global, ]"
248,"[environmental, safety, health, engineer]","[health, safety, engineer, ]",631,5,0,1,28.648438,200,300,60000,0,bad,"[environment, safeti, health, engin]","[health, safeti, engin, ]"
266,[feeder],"[stuffs, reach, 600pound, wedding, ]",1904,5,1,24,1530.552734,3704,5557,20583128,0,bad,[feeder],"[stuff, reach, 600pound, wed, ]"
267,[feeder],"[feeder, grant, nicholas, eonmusic, ]",1904,6,1,4,46.928711,550,750,412500,0,bad,[feeder],"[feeder, grant, nichola, eonmus, ]"
278,"[finish, carpenter]","[finish, carpentry, pass, ]",4964,2,0,1,234.358398,800,1200,960000,0,bad,"[finish, carpent]","[finish, carpentri, pass, ]"
285,"[general, office, clerk]","[general, office, clerk, career]",5498,0,0,1,17.614258,200,300,60000,0,bad,"[gener, offic, clerk]","[gener, offic, clerk, career]"
305,"[global, supply, chain, manager]","[supply, chain, manager, top, tips, ]",861,6,0,0,48.923828,580,1026,595080,3,bad,"[global, suppli, chain, manag]","[suppli, chain, manag, top, tip, ]"
424,"[network, operations, analyst]","[network, operations, center, wikipedia]",1347,4,0,3,180.055664,900,1200,1080000,1,bad,"[network, oper, analyst]","[network, oper, center, wikipedia]"
449,"[principal, accountant]","[fileprincipal, accountant, general, ]",653,3,0,83,17594.159180,4000,6016,24064000,1,bad,"[princip, account]","[fileprincip, account, gener, ]"
451,"[principal, accountant]","[principal, accountant, martincaplan]",653,6,1,1,6.150391,280,280,78400,0,bad,"[princip, account]","[princip, account, martincaplan]"
455,"[product, managersales]","[product, manager, vs, sales, manager, ]",3722,3,0,2,85.458008,400,760,304000,1,bad,"[product, managersal]","[product, manag, vs, sale, manag, ]"
516,"[rooms, director]","[ritzcarlton, dubai, director, rooms, ]",968,2,0,1,99.722656,671,1100,738100,3,bad,"[room, director]","[ritzcarlton, dubai, director, room, ]"
517,"[rooms, director]","[office, director, room, office, ]",968,3,0,2,152.432617,569,1024,582656,0,bad,"[room, director]","[offic, director, room, offic, ]"
554,"[senior, editor]","[techcrunch, senior, editor, alex, wilhelm, ]",6715,7,0,0,66.294922,477,730,348210,2,bad,"[senior, editor]","[techcrunch, senior, editor, alex, wilhelm, ]"
563,"[senior, project, director]","[ann, chang, senior, project, director, ]",993,4,1,2,533.396484,1189,1000,1189000,0,bad,"[senior, project, director]","[ann, chang, senior, project, director, ]"
567,"[senior, project, director]","[gna, appoints, ronald, pope, senior, ]",993,8,0,2,19.801758,352,618,217536,0,bad,"[senior, project, director]","[gna, appoint, ronald, pope, senior, ]"
568,"[service, provider]","[choose, right, service, provider, ]",8195,0,0,0,30.973633,460,696,320160,1,bad,"[servic, provid]","[choos, right, servic, provid, ]"
570,"[service, provider]","[top, 10, managed, service, providers, em360]",8195,2,0,3,208.396484,680,1024,696320,1,bad,"[servic, provid]","[top, 10, manag, servic, provid, em360]"
592,"[software, architect]","[skills, duties, software, architect]",2911,4,0,0,43.728516,700,700,490000,0,bad,"[softwar, architect]","[skill, duti, softwar, architect]"
622,"[strategy, consultant]","[strategy, consultant, quora]",3306,3,0,0,45.441406,463,602,278726,1,bad,"[strategi, consult]","[strategi, consult, quora]"

In [13]:
data[data['Manual Label']=='good']

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Manual Label,Stem Job Title,Stem Pic Title
21,"[architectural, drafter]","[9, firms, offering, architecture, ]",1824,1,0,2,529.085938,1382,2200,3040400,2,good,"[architectur, drafter]","[9, firm, offer, architectur, ]"
24,"[architectural, drafter]","[2017, architectural, drafter, careercastcom]",1824,4,0,1,28.923828,446,600,267600,0,good,"[architectur, drafter]","[2017, architectur, drafter, careercastcom]"
32,[assistant],"[personal, assistant, apps, ]",347272,7,1,2,390.638672,844,1243,1049092,0,good,[assist],"[person, assist, app, ]"
39,"[assistant, curator]","[assistant, curator, ancient, ]",868,0,1,10,640.045898,1500,2000,3000000,0,good,"[assist, curat]","[assist, curat, ancient, ]"
41,"[assistant, curator]","[assistant, curator, nicole, smythejohnson, ]",868,2,0,2,77.317383,720,1280,921600,0,good,"[assist, curat]","[assist, curat, nicol, smythejohnson, ]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,"[wind, turbine, engineer]","[wind, turbine, technician, ]",61,3,0,2,142.578125,1200,1200,1440000,0,good,"[wind, turbin, engin]","[wind, turbin, technician, ]"
653,"[wind, turbine, engineer]","[wind, turbine, technician, fastestgrowing, ]",61,4,0,0,89.249023,720,1280,921600,0,good,"[wind, turbin, engin]","[wind, turbin, technician, fastestgrow, ]"
655,"[wind, turbine, engineer]","[wind, get, energy]",61,6,0,1,324.730469,500,750,375000,1,good,"[wind, turbin, engin]","[wind, get, energi]"
656,"[wind, turbine, engineer]","[windenergy, programs, yield, engineering, ]",61,7,0,1,36.197266,920,613,563960,0,good,"[wind, turbin, engin]","[windenergi, program, yield, engin, ]"
657,"[wind, turbine, engineer]","[career, map, wind, technician, ]",61,8,0,2,167.145508,379,525,198975,0,good,"[wind, turbin, engin]","[career, map, wind, technician, ]"

In [14]:
arr1 = data['Stem Job Title'].values # first information (common small)
arr2 = data['Stem Pic Title'].values # second information
n = arr1.shape[0] # n = 658
lista = []
divide = []
for i in range(n):
  aux =0
  c1 = list(arr1[i])
  for x in arr1[i]:
    c2 = list(arr2[i])
    if(c2.count(x) != 0):
      aux = aux + 1
  lista.append(aux)
  try:
   divide.append(len(c1)/aux)
  except:
   divide.append(0)
print(lista)
print(divide)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 0, 0, 0, 0, 2, 1, 2, 2, 2, 1, 0, 2, 1, 1, 1, 1, 1, 3, 3, 2, 3, 3, 3, 2, 0, 2, 0, 2, 2, 0, 1, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 2, 1, 2, 2, 2, 2, 4, 4, 2, 2, 4, 1, 2, 0, 2, 2, 0, 2, 0, 2, 0, 0, 2, 2, 2, 3, 3, 3, 3, 3, 2, 3, 3, 1, 1, 1, 0, 1, 1, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 3, 2, 1, 0, 2, 2, 1, 0, 3, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 2, 2, 3, 3, 2, 3, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 0, 3, 1, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 0, 2, 0, 2, 2, 0, 1, 2, 0, 2, 2, 2, 2, 0, 0, 3, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 0, 2, 0, 3, 3, 0, 2, 4, 0, 1, 0, 2, 0, 0, 3, 3, 3, 3, 2, 2, 2, 2, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 0, 3, 0, 2, 0, 3, 3, 3, 3, 3, 2, 2, 3, 2, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 1, 1, 0, 0, 1, 1, 1, 2, 3, 1, 3, 3, 3, 2, 3, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 3, 1, 3, 3, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 1, 0, 0, 0, 2, 2, 2, 3, 0, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 1, 1, 2, 2, 0, 2, 2, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 0, 2, 3, 2, 2, 2, 2, 2, 2, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 0, 1, 2, 2, 2, 1, 1, 1, 1, 2, 3, 2, 1, 2, 2, 2, 3, 2, 2, 2, 3, 3, 2, 2, 0, 0, 2, 2, 2, 2, 1, 2, 2, 1, 0, 1, 1, 1, 1, 1, 2, 1, 0, 2, 2, 0, 1, 1, 0, 1, 2, 2, 2, 1, 0, 0, 1, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 1, 2, 2, 1, 2, 1, 1, 0, 0, 0, 1, 1, 1, 0, 3, 1, 3, 3, 3, 2, 2, 3, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 3, 3, 2, 2, 3, 3, 0, 1, 3, 1, 3, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 3, 2, 1, 2, 2, 0, 2, 1, 2, 0, 2, 2, 1, 2, 2, 1, 1, 0, 1, 1, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 3, 2, 3, 2, 1, 1, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 1, 1, 1]
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 0, 0, 0, 0, 1.0, 2.0, 1.0, 1.0, 1.0, 2.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 0, 1.0, 1.0, 0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 1.0, 4.0, 1.0, 0, 1.0, 1.0, 0, 1.0, 0, 1.0, 0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.0, 2.0, 2.0, 2.0, 0, 2.0, 2.0, 1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.0, 1.5, 3.0, 0, 1.5, 1.5, 3.0, 0, 1.0, 3.0, 1.5, 1.5, 1.5, 1.5, 3.0, 1.5, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.0, 1.5, 1.0, 1.0, 1.5, 1.5, 1.0, 1.5, 1.5, 1.0, 1.0, 1.5, 1.0, 1.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.3333333333333333, 0, 1.3333333333333333, 4.0, 2.0, 4.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 2.0, 0, 1.0, 0, 1.0, 1.0, 0, 2.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 0, 0, 1.0, 1.5, 1.5, 1.5, 3.0, 1.5, 1.5, 1.5, 1.5, 1.5, 3.0, 0, 1.5, 0, 1.0, 1.3333333333333333, 0, 2.0, 1.0, 0, 4.0, 0, 2.0, 0, 0, 1.3333333333333333, 1.3333333333333333, 1.3333333333333333, 1.3333333333333333, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 0, 1.0, 0, 1.5, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.0, 1.5, 1.0, 1.0, 1.0, 1.0, 1.3333333333333333, 1.3333333333333333, 1.0, 1.3333333333333333, 1.3333333333333333, 1.3333333333333333, 2.0, 2.0, 0, 0, 2.0, 2.0, 2.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.5, 0, 1.5, 1.5, 0, 1.0, 1.0, 0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 1.0, 1.0, 1.5, 1.5, 1.5, 1.5, 1.5, 1.0, 1.5, 1.5, 1.5, 1.0, 3.0, 1.0, 1.0, 1.5, 1.0, 1.5, 1.5, 1.5, 1.0, 1.5, 1.5, 1.5, 1.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 2.0, 0, 0, 0, 1.5, 1.5, 1.5, 1.0, 0, 1.0, 2.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.5, 1.5, 0, 1.5, 1.5, 3.0, 1.5, 2.0, 2.0, 1.0, 1.0, 2.0, 1.0, 2.0, 1.0, 1.5, 1.5, 0, 1.5, 1.0, 1.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 2.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.5, 1.0, 1.5, 3.0, 1.5, 1.5, 1.5, 1.0, 1.5, 1.5, 1.5, 1.0, 1.0, 1.5, 1.5, 0, 0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 2.0, 0, 2.0, 2.0, 3.0, 3.0, 3.0, 1.5, 3.0, 0, 1.0, 1.0, 0, 2.0, 2.0, 0, 2.0, 1.0, 1.0, 1.0, 2.0, 0, 0, 2.0, 1.0, 0, 2.0, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 0, 2.0, 1.0, 1.0, 2.0, 1.0, 2.0, 2.0, 0, 0, 0, 2.0, 2.0, 2.0, 0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.0, 1.0, 0, 3.0, 1.0, 3.0, 1.0, 1.5, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.5, 2.0, 1.0, 1.0, 0, 1.0, 2.0, 1.0, 0, 1.0, 1.0, 2.0, 1.0, 1.0, 3.0, 3.0, 0, 3.0, 3.0, 0, 3.0, 3.0, 1.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.0, 1.5, 1.0, 1.5, 3.0, 3.0, 1.5, 1.5, 0, 1.5, 1.5, 0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.5, 1.5, 1.5, 1.5, 1.5, 3.0, 3.0, 3.0]

In [15]:
'''arr1 = data['Stem Job Title'].values # first information (common small)
arr2 = data['Stem Pic Title'].values # second information
n = arr1.shape[0] # n = 658
lista = []
divide = []
for i in range(n):
  aux =0
  c1 = list(arr1[i])
  for x in arr1[i]:
    c2 = list(c2[i])
    t1 = x[:4]
    for t2 in c2:
      if(t2[:4].count(t1) != 0):
        aux = aux + 1
  lista.append(aux)
  try:
   divide.append(len(c1)/aux)
  except:
   divide.append(0)
print(lista)
print(divide)'''

IndexError: ignored

In [ ]:
for x in c2:
  print(x[:4])

In [ ]:
data.head()

career, senior

In [ ]:
'''def lemmatized(text):
  lemmatized= [wn.lemmatize(word) for word in text]
  return lemmatized

data['Lemma Job Title'] = data['Job Title'].apply(lambda x: lemmatized(x))
data['Lemma Pic Title'] = data['Pic Title'].apply(lambda x: lemmatized(x))
data'''

###Data split

In [ ]:
data=data.drop(columns=['Job Title','Pic Title'])

In [ ]:
''' Data (with labels) to test the model '''

labaled= data[data['Manual Label'].notna()]
labaled.head()

In [ ]:
#Drop target feature
X = data.drop(columns=['Manual Label','Stem Job Title','Stem Pic Title','KB size','Num Resumes','Google Position','Width','Text Regions']) 
#X = data.drop(columns=['Manual Label','Stem Job Title','Stem Pic Title']) 
#X['Common']=lista
X['Division']=divide
W = X
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)

# Predictive Model

In [ ]:
y_pred = KMeans(n_clusters=2).fit_predict(X)

In [ ]:
len(y_pred)

In [ ]:
# get the elements containing label (we will use it to evaluate the method)
y = data['Manual Label'].replace({'good':0, 'bad':1})
index_no = data['Manual Label'].notna()
y_real = y[index_no].astype(int)
X_eval= X[index_no,:]
y_mod = y_pred[index_no]

In [ ]:
y_real.shape, y_mod.shape

In [ ]:
# Classification Report
print('\n\n', classification_report(y_real, y_mod, target_names=['0-Good', '1-Bad']))
# Confusion Matrix
con_matrix = pd.DataFrame(confusion_matrix(y_real, y_mod), columns=['Predicted Good', 'Predicted Bad'], index=['Actual Good', 'Actual Bad'])
  
plt.figure(figsize=(15,10))
sns.heatmap(data=con_matrix, cmap='cool');
plt.title('Model Confusion Matrix')
plt.show();

In [ ]:
W